body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto; 
    color: #222;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

main {
    margin: auto;
    width: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
}

h1 {
    font-size: 80px;
}

#title {
    text-align: center;
}

.content {
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto; 
    display: inline-flex;
}

.content div {
    background: rgba(220, 220, 220, 0.8);
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    width: 200px;
    height: 100px;
    box-shadow: #000 0 0 20px -10px;
}
.content div:hover {
    box-shadow: #000 0 0 30px -10px;
    transition: 0.3s;
}


.content div a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}